.h_nav .mega.tab .on_tab{
    width: 25%;
    background: #fff;
}
.h_nav .mega.tab .on_tab .it a{
    font-size: 1.5rem;
    color: #000;
    padding: 20px 8px;
    width: calc(100% - 48px);
}
.h_nav .mega.tab .on_tab .pic{
    display: flex;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #f8f8f8;
    border-radius: 50%;
}
.h_nav .mega.tab .bod_tab{
    background-color:#f3f8fd;
    width: 75%;
    padding: 15px 0;
}
.h_nav .mega.tab .std_w{
    padding: 0;
    gap: 0;
}
.h_nav .mega.tab .bod_tab .it{
    display: none;
    flex-direction: column;
    align-items: flex-start;
}
.h_nav .mega.tab .bod_tab .it.a{
    display: block;
}
.h_nav .mega.tab .bod_tab .it .h{
    margin-bottom: 15px;
}
.h_nav .mega.tab .bod_tab .it .h a{
    color: #000;
    font-weight: 600;
}
.h_nav .mega.tab .bod_tab .it .lin{
    display: flex;
    flex-wrap: wrap;
}
.h_nav .mega.tab .bod_tab .it .lin a{
    width: 33%;
    font-size: 12px;
}
.h_nav .mega.tab .bod_tab .it .lin a:hover{
    color: rgb(var(--first));
}
.h_nav .mega.tab .bod_tab .it i{
    margin: 0 13px;
}
.h_nav .mega.tab .on_tab > .it:hover,.h_nav .mega.tab .on_tab > .it.a{
    background-color: #f8f9fa;
}
.h_nav .mega.tab .on_tab .it:hover > a,.h_nav .mega.tab .on_tab .it:hover i{
    color: rgb(var(--first));
}