.h_nav .std:hover .std_w {
    opacity: 1;
    visibility: visible;
}
.h_nav >li:not(.mega) {
    position: relative;
}
.h_nav >li.mega a {
    position: relative;
}
.h_nav >li.mega > a .lab{
    top: -20px;
}
.h_nav >li {
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
    padding: 2.5rem 0;
}
.h_nav>li>a,.h_nav>li>button {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
}
.h_nav .std_w{
    position: absolute;
    top: 8rem;
    margin: 0 auto;
    background: #fff;
    z-index: 22;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,.1);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    animation: animate-hide-menu 1s ease;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    min-width: 200px;
    border-radius: 5px;
    gap: 0 20px;
}
.h_nav .abshari .std_w{
    flex-direction: column;
}


.rtl .h_nav .std_w{
    right: 0;
}
.h_nav .std_w .not_under {
    width: 100%;
}
.h_nav .std_w .it {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    padding: 0 15px;
    white-space: initial;
    line-height: 1.4;
}
.h_nav .abshari .std_w .it {
    width: 100%;
}
.h_nav .std_w .it:hover > .std_w  {
   opacity: 1;
   visibility: visible;
}
.h_nav .std_w .it a {
    font-size: 1.3rem;
    color: #6e6e6f;
    width: 100%;
    /* display: block; */
   
    padding: 13px 0;
}
.h_nav .std_w .it i {
    font-size: 12px;
    color: #6e6e6f;
}
.ltr .h_nav .std_w .it i{
    transform: rotate(180deg);
}
.h_nav >li > a .lab{
    position: absolute;
    top: 8px;
    width: fit-content;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-size: 0.9rem;
    display: none;
    line-height: 1.5;
    padding: 1px 3px;
}
.h_nav >li > a .lab.t1::before{
    content: "\f0d7";
    font-family: 'Font Awesome 6 solid';
    font-size: 12px;
    font-weight: 600;
    color: #ff8315;
    position: absolute;
    top: 11px;
    display: block;
    margin: 0 auto;
    line-height: 1;
    left: 0;
    right: 0;
}
.h_nav >li .lab.a{
  display: block;
}
.h_nav >li a .lab.t1{
  background-color:#ff8315;
  border-radius: 3px;
}
.h_nav >li .std_w .lab{
    color: #fff;
    font-size: 10px;
    padding: 1px 3px;
    margin: 0 5px;
}

.h_nav >li .lab.t3{
    background-color: #fc23c3;
    border-radius: 50%;
    line-height: 1;
    width: 18px;
    height: 18px;
    font-size: 12px;
    padding: 3px;
    left: 0;
    right: auto;
    top: 14px;
}

.h_nav >li.mega .lab.t3{
    top: -15px;
}
.ltr .h_nav >li .lab.t3{
    right: 0;
    left: auto;
}
.bor_b{
    border-bottom: 1px solid #dedede;
}
.rtl .bor_lr .it{
    border-right: 1px solid #dedede;
}
.rtl .bor_lr .it:nth-child(2){
    border-right: none;
}
.ltr .bor_lr .it{
    border-left: 1px solid #dedede;
}
.ltr .bor_lr .it:last-child{
    border-left: none;
}

.h_nav .mega .C.std_w{
    margin: 0 auto;
    right: 0;
    left: 0;
}


@media (min-width: 992px) {

    .h_nav .abshari .std_w{
        min-width: 23rem;
    }
    .h_nav .abshari > .std_w:before{
        font-size: 21px;
        right: 25px;
        top: -23px;
        border: solid transparent;
        font-family: 'Font Awesome 6 solid';
        content: '\f0d8';
        position: absolute;
        pointer-events: none;
    }
    .ltr .h_nav .abshari > .std_w:before{
        left: 25px;
    }
    
}